html, body {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;
}

#ui-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

#panel {
    pointer-events: auto;
    width: 60vw;
    max-width: 700px;
    height: 40vh;
    min-height: 240px;

    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    backdrop-filter: blur(2px);

    border-radius: 10px;
}

#panel-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white
}